<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メニューバー</title>
    <link rel="stylesheet" href="/CSS/menu.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">TOP</a></li>
            <li><a href="#">アカウント編集</a></li>
            <li><a href="#">食事記録</a></li>
            <li><a href="#">トレログ</a></li>
            <li><a href="#">ログアウト</a></li>
        </ul>
    </nav>
</body>
</html>