<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>筋肉を手に入れろ</title>
  <link rel="stylesheet" href="/CSS/user_top.css" >
  <link rel="stylesheet" href="/CSS/user_top.css" >
</head>
<body>
  <header>
    <div class="header-container">
      <button class="menu-btn" onclick="location.href='/template/menu.html' " >☰</button>
      <h1>top</h1>
    </div>
  </header>
  
  <main>
    <div class="top-content">
      <div class="user-info">
        <div class="container">
       
        <h1 class="custom-underline">筋肉を手に入れろ！</h1>
        
      </div>
    </div>
    <div class="horizontal-container">
      <span>ようこそ叶斗さん</span><span>現在96kg</span> <h2>目標🔥 </div><span class="fire-icon"></span></h2>
      <input type="text" placeholder="60Kgにムキムキになる" class="goal-input">
      
      <h3>今日のトレーニングプラン</h3>
      <div class="plan-container">
        <input type="text" placeholder="腹筋100回" class="plan-input">
        <input type="text" placeholder="マラソン100km" class="plan-input">
      </div>
      
      <div class="button-container">
        <button class="action-btn" onclick="location.href='/template/user_create training plan.html'">目標設定</button>
        <button class="action-btn" onclick="location.href='/template/user_set training goals.html'">プラン作成</button>
      </div>
    </div>
  </main>
</body>
</html>
