<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>食事記録閲覧</title>
  <link href="https://use.fontawesome.com/releases/v6.7.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/src/main/resources/static/CSS/lunch1.css">
  <link rel="stylesheet" href="../static/CSS/all.css">
</head>
<body>
    <div class="cp_cont">
      <div class="cp_offcm04">
        <input type="checkbox" id="cp_toggle04">
        <label for="cp_toggle04"><span></span></label>
        <div class="cp_menu">
        <ul>
        <li><a href="../template/user_top.html">・TOP</a></li>
        <li><a href="../template/">・アカウント編集</a></li>
        <li><a href="../template/alllunch.html">・食事記録</a></li>
        <li><a href="../template/T.html">・トレログ</a></li>
        <li><a href="#" id="openPopup">ログアウト</a></li>
  
        </ul>
        </div>
      </div>
      <div id="popup" class="popup">
        <div class="popup-content">
          <span id="closePopup" class="close-button">&times;</span>
          <h5>ログアウト</h5>
          <p>ログアウトしますか？</p>
          <button class="btn-cancel">キャンセル</button>
          <a href="/src/main/resources/template/user_login.html" class="btn-logout">ログアウト</a>    
        </div>
         <img src="/src/main/resources/static/img/sports_bodybuilder_man.png" alt="左の画像" class="new-image">    
      </div>
    
      <script src="/src/main/resources/static/js/pop.js"></script>
    <h1 id="it">食事記録閲覧<span class="box1">  <button class="edit-btn">登録</button><button class="edit-btn">編集</button></span></h1>
  <main>
    <section class="date-section">
      <p>2024/09/14</p>
      <select>
        <option value="breakfast">朝食</option>
        <option value="lunch" selected>昼食</option>
        <option value="dinner">夕食</option>
      </select>
    </section>
    <section class="meal-section">
      <h2>豆腐ハンバーグ</h2>
      <div class="content">
        <img src="../static/img/images (4).jpg" alt="豆腐ハンバーグ">
        <table>
          <tr>
            <th>カロリー</th>
            <td>123kcal</td>
          </tr>
          <tr>
            <th>オススメ度</th>
            <td>★★★★☆</td>
          </tr>
          <tr>
            <th>材料</th>
            <td>木綿豆腐、鶏ひき肉、玉ねぎ、片栗粉、塩、コショウ</td>
          </tr>
        </table>
      </div>
      <button class="back-button">戻る</button>
    </section>
  </main>
</body>
</html>
