<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>筋肉を手に入れろ</title>
  <link href="https://use.fontawesome.com/releases/v6.7.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/src/main/resources/static/CSS/user_top.css" >
  <link rel="stylesheet" href="/src/main/resources/static/CSS/all.css" >
</head>
<body>
  <div class="cp_cont">
    <div class="cp_offcm04">
      <input type="checkbox" id="cp_toggle04">
      <label for="cp_toggle04"><span></span></label>
      <div class="cp_menu">
      <ul>
      <li><a href="/src/main/resources/template/user_top.html">・TOP</a></li>
      <li><a href="#">・アカウント編集</a></li>
      <li><a href="/src/main/resources/template/alllunch.html">・食事記録</a></li>
      <li><a href="#">・トレログ</a></li>
      <li><a href="#" id="openPopup">ログアウト</a></li>
      </ul>
      </div>
    </div>
    <div id="popup" class="popup">
      <div class="popup-content">
        <span id="closePopup" class="close-button">&times;</span>
        <h2>ログアウト</h2>
        <p>ログアウトしますか？</p>
        <button class="btn-cancel">キャンセル</button>
        <a href="/src/main/resources/template/user_login.html" class="btn-logout">ログアウト</a>        
      
      </div>
    </div>
  
    <script src="/src/main/resources/static/js/pop.js"></script>
    <div class="cp_contents">
      <h1 class="all">Top</h1>
      </div>
    </div>
  </div>
  
  <main>
    <div class="top-content">
      <div class="user-info">
        <div class="container">
          <div class="title-container">
            <img src="/src/main/resources/static/img/sports_bodybuilder_man.png" alt="左の画像" class="title-image">
            <h4 class="title-text">筋肉を手に入れろ</h4>
            <img src="/src/main/resources/static/img/sports_bodybuilder_man.png" alt="右の画像" class="title-image">
          </div>
          
      </div>
    </div>
    <div class="horizontal-container">
      <span>ようこそ叶斗さん</span><span>現在96kg</span> <h4>目標🔥</div><span class="fire-icon"></span></h2>
      <input type="text" placeholder="60Kgにムキムキになる" class="goal-input">
      
      <h3>今日のトレーニングプラン</h3>
      <div class="plan-container">
        <input type="text" placeholder="マラソン100km 腹筋100回" class="plan-input">
      </div>
      
      <div class="button-container">
        <button class="action-btn" onclick="location.href='/template/user_create training plan.html'">目標設定</button>
        <button class="action-btn" onclick="location.href='/template/user_set training goals.html'">プラン作成</button>
      </div>
    </div>
  </main>
</body>
</html>
