<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トレーニングプラン設定</title>
    <link href="https://use.fontawesome.com/releases/v6.7.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/src/main/resources/static/CSS/user_create training plan.css">
    <link rel="stylesheet" href="/src/main/resources/static/CSS/all.css" >
</head>
<body>
    <div id="popup" class="popup">
        <div class="popup-content">
          <span id="closePopup" class="close-button">&times;</span>
          <h5>ログアウト</h5>
          <p>ログアウトしますか？</p>
          <button class="btn-cancel">キャンセル</button>
          <a href="/src/main/resources/template/user_login.html" class="btn-logout">ログアウト</a>    
         
        
        </div>
         <img src="/src/main/resources/static/img/sports_bodybuilder_man.png" alt="左の画像" class="new-image">    
      </div>
    <main>
        <h2>今日の筋トレプランを設定しよう！</h2>
        <input type="text" placeholder="プランを入力">
        <ul>
            <li>腹筋10回 7kcal ・ 腕立て10回 4.8kcal</li>
            <li>腹筋10回 6.4kcal ・ 1km走る 体重×1kcal</li>
        </ul>
        <button class="btn-back">戻る</button>
        <button class="btn-register">登録</button>
    </main>
</body>
</html>