/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    max-height: 1200px;
  }
  
  /* ヘッダー */
  /* header {
    background-color: #333;
    padding: 10px 0;
    font-size: 40px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -7px;
  }
   */
   h1{
    color: #e0e0e0;
    font-size: 30px;
    margin-top: 0;
    padding-top: 15px;
  }
  /* #id{
    margin-left: -20px;
  }
   
  .menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  #it{
    font-size: 30px;
  }
  /*ハンバーガーメニュー*/
/* *, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.cp_cont {
	height: 10vh;
  background-color: #080808;
}
.cp_offcm04 {
	position: absolute;
	top: 10px;
	left: 20px;
	display: inline-block;
  margin-bottom: 10px;
}
/* menu */
.cp_offcm04 .cp_menu {
	position: fixed;
	top: 0;
	left: -100vw;
	width: 250px;
	height: 100%;
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	        transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	        transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	background-color: rgb(15, 15, 15);
	opacity: 0.8;
}
.cp_offcm04 .cp_menu ul {
	margin: 0;
	padding: 0;
}
.cp_offcm04 .cp_menu li {
	list-style: none;
}
.cp_offcm04 .cp_menu li a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.cp_offcm04 #cp_toggle04 {
	position: absolute;
	display: none;
	opacity: 0;
}
.cp_offcm04 #cp_toggle04:checked ~ .cp_menu {
	-webkit-transform: translateX(100vw);
	        transform: translateX(100vw);
}
/* menu toggle */
.cp_offcm04 #cp_toggle04 ~ label {
	display: block;
	padding: 0.5em;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	        transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	        transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	text-align: center;
	color: #fffdfd;
}
.cp_offcm04 #cp_toggle04:checked ~ label {
	-webkit-transform: translateX(250px);
	        transform: translateX(250px);
}
.cp_offcm04 #cp_toggle04 ~ label::before {
	font-family: 'FontAwesome';
	content: '\f0c9';
	font-size: 2em
}
.cp_offcm04 #cp_toggle04:checked ~ label::before {
	content: '\f00d';
}
/* contents */
.cp_contents {
	color: #333333;
	text-align: center;
}
.cp_offcm04 #cp_toggle04 ~ label {
  display: block;
  padding: 0.5em;
}

ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.cp_cont {
	height: 10vh; 
  background-color: #080808;
  margin-top: -10px;
}
.cp_offcm04 {
	position: absolute;
	top: 10px;
	left: 20px;
	display: inline-block;
  margin-bottom: 10px;
}
/* menu */
.cp_offcm04 .cp_menu {
	position: fixed;
	top: 0;
	left: -100vw;
	width: 250px;
	height: 100%;
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	        transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	        transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	background-color: rgb(15, 15, 15);
	opacity: 0.8;
}

.box1 {
	border: none;
	margin: 0 20px 0 auto;
	top:10px;
	right:10px;
	position: absolute;
	gap: 10px;
}
.edit-btn{
	gap: 10px;
	background-color: #333;
	color: #f0f0f0;
}


.cp_offcm04 .cp_menu ul {
	margin: 0;
	padding: 0;
}
.cp_offcm04 .cp_menu li {
	list-style: none;
}
.cp_offcm04 .cp_menu li a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.cp_offcm04 #cp_toggle04 {
	position: absolute;
	display: none;
	opacity: 0;
}
.cp_offcm04 #cp_toggle04:checked ~ .cp_menu {
	-webkit-transform: translateX(100vw);
	        transform: translateX(100vw);
}
/* menu toggle */
.cp_offcm04 #cp_toggle04 ~ label {
	display: block;
	padding: 0.5em;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	        transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	        transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	text-align: center;
	color: #fffdfd;
}
.cp_offcm04 #cp_toggle04:checked ~ label {
	-webkit-transform: translateX(250px);
	        transform: translateX(250px);
}
.cp_offcm04 #cp_toggle04 ~ label::before {
	font-family: 'FontAwesome';
	content: '\f0c9';
	font-size: 30px
}
.cp_offcm04 #cp_toggle04:checked ~ label::before {
	content: '\f00d';
} 
/* contents */
.cp_contents {
	color: #333333;
	text-align: center;
}
.cp_offcm04 #cp_toggle04 ~ label {
  display: block;
  padding: 0.5em;
}
.new-image{
	margin: 20px;
	height: 130px;
}
#date-picker {
	font-size: 15px; /* フォントサイズを大きくする */
	padding: 5px; /* 内側の余白を広げる */
	width: 200px; /* 幅を指定 */
	border: 2px solid #ccc; /* 境界線を少し目立たせる */
	border-radius: 5px; /* 角を丸くする */
  }

  label {
	font-size: 20px; /* ラベルのフォントサイズを大きくする */
	margin-right: 5px; /* ラベルと入力フィールドの間隔を調整 */
  }
  /* .date-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 20px;
  } */
  /* h1 {
    margin: 0; 
    font-size: 34px;
 margin-left: 540px;
 margin-top: 10px;
  } */
  .popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 20px;
	z-index: 1000;
	height: 450px;
	display: none;
	flex-direction: column; /* 縦方向に要素を配置 */
  align-items: center; /* 水平方向の中央揃え */
  border-radius: 8px;
  /* position: absolute; */
  border-radius: 8px;
  width: 50%;
  max-width: 400px;
  height: 450px;
  }
  
  .hidden {
	display: none;
  }
  
  .close-button {
	cursor: pointer;
	font-size: 20px;
	top: 40%;
	margin-bottom: 20px;
  }
  .popup-content h5{
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 23px;
  margin-left: 10px;
  }
  .popup-content p{
  padding: 10px 10px 10px 10px ;
  margin-bottom: 20px;
  font-size: 20px;
  
  border: solid 2px;
  }
  
  .close-btn:hover {
  color: red;
  }
  /* キャンセルボタン */
  .btn-cancel {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
  }
  
  /* ログアウトリンクをボタン風にする */
  .btn-logout {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f0f0f0;
  color: #000;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: aqua;
  color: #333;
  margin-left: 10px;
  }
  
  .btn-logout:hover {
  background-color: #e0e0e0;
  } 