/* リセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

/* ヘッダー全体 */
header {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* ヘッダー内のアイコンとテキスト */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-icon label {
  display: block;
  cursor: pointer;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  flex: 1;
}

.register-link {
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 5px 10px;
  border-radius: 5px;
}

/* メニュー */
.cp_menu {
  display: none;
}

.cp_offcm04 input:checked + label + .cp_menu {
  display: block;
}

.cp_menu ul {
  list-style: none;
}

.cp_menu ul li {
  margin-bottom: 10px;
}
