/* 全体のリセット */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 1000px;
  }
  
 
  h1 {
    margin: 0;
    font-size: 18x;
    color: #f0f0f0;
  }
  
  .form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
  }
  
  .form-group {
    margin-bottom: 15px;
    margin-top: 15px;

  }
  
  label {
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 40%;
    height: 50px;
    padding: 8px;
    font-size: 30px;
    border: 1px solid rgb(115, 119, 119);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .button-group {
    justify-content: space-between;
    margin-top: 20px;
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 35%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    height: 400px;
    display: none;
    flex-direction: column; /* 縦方向に要素を配置 */
  align-items: center; /* 水平方向の中央揃え */
  border-radius: 8px;
  position: absolute;
 
  border-radius: 8px;
 
  width: 80%;
  max-width: 400px;
  height: 450px;
  }
  
  .hidden {
    display: none;
  }
  
  .close-button {
    cursor: pointer;
    font-size: 20px;
    top: 40%;
    margin-bottom: 40px;
  }
.popup-content h5{
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 23px;
}
.popup-content p{
 padding: 10px 10px 10px 10px ;
 margin-bottom: 40px;
  font-size: 20px;
 margin-left: 30px;
  border: solid 2px;
}

.close-btn:hover {
  color: red;
}
/* キャンセルボタン */
.btn-cancel {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
}

/* ログアウトリンクをボタン風にする */
.btn-logout {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f0f0f0;
  color: #000;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: aqua;
  color: #333;
  margin-left: 10px;
}

.btn-logout:hover {
  background-color: #e0e0e0;
}
.cp_cont{
    position: absolute; /* 固定配置 */
    top: 0;             /* 最上部に配置 */
    left: 0;            /* 左端に配置 */
    width: 100%;        /* 横幅を画面いっぱいに */
    text-align: center; /* コンテンツを中央揃え */
    padding: 20px 0;    /* 上下の余白 */
  }
  .btn-back, .btn-submit {
    padding: 10px 20px;
    background-color: #f0f3f0;
    color: #1d1212;
    border: none;
    cursor: pointer;
    font-size: 25px;
    border-radius: 30px;
    font-weight: bold;
  }
  .btn-submit{
    background-color: aqua;
    margin-left: 50px;
  }